<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="login.css" />
    <title>Login</title>
</head>

<body>
    <div class="login-box">
        <h1>Login</h1>

        <form action="/login" method="POST">
            <div class="book">

                <i class="fa fa-envelope" aria-hidden="true"></i>
                <input type="email" placeholder="email" name="email" required>
            </div>
            <div class="book">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                <input type="password" placeholder="password" name="password" required>
            </div>
            <button class="Btn" type="submit ">Login</button>
        </form>

        <a class="register" href=" /register ">Register</a>
    </div>
</body>

</html>